@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400&display=swap');
body {
    background-image: url("https://images.unsplash.com/photo-1529480653440-0e5fd1af911c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80");
    background-size: cover;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 16px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6, p {
    color: rgba(224,224,224,95%);
    font-family: 'Space Grotesk',sans-serif;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-family: 'Space Grotesk', sans-serif;
}

#increment-btn {
    background: rgb(59, 178, 115);
    width: 80px
}
#decrement-btn {
    background: rgb(24, 37, 27);
    width: 40px;
    margin-right: 5px;
}

#save-btn {
    background: rgb(40, 95, 204);
    width:130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#total {
    padding-bottom: 24px;
}
.scores {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(20,48,103,100%);
    border-radius: 8px;
    padding-bottom: 16px;
}

#inc {
    width: 40px;
    border-radius: 4px;
    background-color:rgb(29, 71, 154);
    color: rgb(224,224,224);
    border: none;
    padding-inline-start: 8px;
}
.inc {
    display: inline;
}
